.photo-grid {
  display: grid;
  justify-items: center;
  justify-content: center;
  grid-template: repeat(12, 216px) / 288px;
  grid-gap: 12px;
  padding: 64px 0 0 0;
}

@media screen and (min-width: calc((288px * 2) + 12px)) {
  .photo-grid {
    grid-template: repeat(6, 216px) / repeat(2, 288px);
  }
}

@media screen and (min-width: 768px) {
  .photo-grid {
    grid-template: repeat(6, 264px) / repeat(2, 352px);
    grid-gap: 16px;
    padding: 88px 0 0 0;
  }
}

@media screen and (min-width: calc((300px * 3) + (14px * 2))) {
  .photo-grid {
    grid-template: repeat(4, 225px) / repeat(3, 300px);
    grid-gap: 14px;
  }
}

@media screen and (min-width: calc((284px * 4) + (16px * 3))) {
  .photo-grid {
    grid-template: repeat(3, 213px) / repeat(4, 284px);
    grid-gap: 16px;
  }
}
