.footer__link-item {
  margin: 31px 0 0 0;
}

.footer__link-item:hover {
  opacity: .8;
  cursor: pointer;
}

.footer__link-item:first-child {
  margin: 0;
}

@media screen and (min-width: 768px) {
  .footer__link-item {
    margin: 0 0 0 18px;
  }
}
